.drag-enter-overlap {
  z-index: 20;
  color: $success;
  position: absolute;
  background-color: white;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  opacity: .8;

  .overlap-text {
    font-weight: bold;
  }
}

.card-column {
  width: 20%;
  transition: width .15s, box-shadow .25s;
  z-index: 1;

  &.active {
    z-index: 10;
    position: absolute;
    transform: translate(50%, 0);
    right: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  }

  @include media-breakpoint-down (sm) {
    &.active {
      width: 95%;
    }
  }

  @include media-breakpoint-up (sm) {
    .card-body {
      overflow-y: auto;
      max-height: 69vh;
    }
  }

  @include media-breakpoint-down (sm) {
    .card-body {
      overflow-y: auto;
      max-height: 60vh;
    }
  }

  .card-body::-webkit-scrollbar-track,
  .card-body::-webkit-scrollbar {
    background-color: white;
  }

  .card-body::-webkit-scrollbar-track {
    background-color: lighten($primary, 40%);
    width: 10px;
  }

  .card-body::-webkit-scrollbar {
    width: 6px;
  }

  .card-body::-webkit-scrollbar-thumb
  {
    border-radius: 3rem;
    border: 1px solid lighten($primary, 40%);
    background-color: $primary;

    &:hover {
      background-color: lighten($primary, 5%);
    }
  }
}


@include media-breakpoint-down (sm) {
  .card-column {
    width: 100%;

    &.active {
      position: static;
      right: 0;
      transform: none;
    }
  }
}
