.clickable {
  cursor: pointer;
}

.text-subtitle {
  font-size: .9rem;
}

.pointer-events-none {
  pointer-events: none;
}

.no-select {
    user-select: none;
}

.horizontal-line {
  border-bottom: 1px solid rgba(0,0,0,.2);
  line-height: .1em;
  margin: 10px 0 20px;
  width: 100%;
  
  span {
    background-color: $white;
    padding: 0 10px;
  }
}