/// Multiselect library styling to match system style.

.multiselect {
  &.multiselect--active {
    .multiselect__input {
      min-height: 23px;
    }
  }

  .multiselect__input {
    font-size: $input-font-size;
    padding: 0;
  }

  .multiselect__tags {
    padding-left: 12px;
    height: $input-height;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
  }

  .multiselect__placeholder {
    font-size: $input-font-size;
    padding-top: 0;
    color: $input-placeholder-color;
  }
}