$vt-color-default: $primary;
$vt-color-info: $info;
$vt-color-success: $success;
$vt-color-warning: $warning;
$vt-color-error: $danger;

@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";
@import "vue-toastification/src/scss/animations/_bounce";

.#{$vt-namespace}__container.camaleao-container {
  .#{$vt-namespace}__toast {
    border-radius: $border-radius-lg;
    padding: 1.15rem 1.25rem;
  }

  .#{$vt-namespace}__toast-body {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .#{$vt-namespace}__bounce-move {
    transition-duration: .1ms;
  }
}

@include media-breakpoint-down (sm) {
  .#{$vt-namespace}__container.camaleao-container {
    opacity: .9;
    width: 100%;

    .#{$vt-namespace}__toast {
      border-radius: 0;
      padding: .45rem 1.1rem;
    }

    .#{$vt-namespace}__toast-body {
      font-size: .9rem;
    }
  }
}
