@import '~bootstrap/scss/variables';

// General
$sidebar-width: 250px;
$small-font-size: .8rem;
$modal-fade-transform: scale(.8);

// Body
$body-bg: $light;

// Colors
$camaleao: #ff4e00;

$custom-colors: (
  "camaleao": $camaleao
);

// $theme-colors: map-merge($theme-colors, $custom-colors);

// Hamburger vars for hamburger library
$hamburger-layer-border-radius: 0 !default;
$hamburger-types: (squeeze) !default;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;

// Typography
$line-height-base: 1.6;


$custom-file-text: (
  en: "Browse",
  pt-BR: "Procurar"
);

// Borders
$border-radius:               calc(.25rem / 1.5);
$border-radius-sm:            calc(.2rem / 1.5);
$border-radius-lg:            calc(.3rem / 1.5);

// Cards
$card-cap-padding-y:  .85rem;
