@import "variables/all";
@import "helpers";
@import "libs";
@import "sidebar";
@import "headerbar";

.table > :not(:last-child) > :last-child > * {
  border-bottom: 2px solid $gray-300;
}

.table {
  font-size: .9rem;
}

.loading {
  position: absolute;
  z-index: 50;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .4);

  [class*="spinner"] {
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	margin: auto;
  }
}

.pagination {
  .page-link {
    font-size: .9rem;
  }
}
