$sidebar-width: 250px;
$headerbar-height: 50px;

// Hamburger vars for hamburger library
$hamburger-layer-border-radius: 0 !default;
$hamburger-types: (squeeze) !default;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;

